---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200310&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - ddeb8606-53a6-40fd-a0e2-c5730386ffbb-4153469
    body:
      encoding: UTF-8
      string: '{"date":20200310,"state":"CA","positive":133,"negative":690,"hash":"0d0ac26ba210e002c4cef8b50e8305df0d25daea","dateChecked":"2020-03-10T20:00:00Z","total":823,"totalTestResults":823,"posNeg":823,"fips":"06","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":19,"totalTestResultsIncrease":19}'
  recorded_at: Wed, 08 Apr 2020 23:12:24 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200312&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - ddeb8606-53a6-40fd-a0e2-c5730386ffbb-4153468
    body:
      encoding: UTF-8
      string: '{"date":20200312,"state":"CA","positive":202,"negative":916,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"8dd3541eb41a6171cc6bbf05632f8d9bb4570490","dateChecked":"2020-03-12T20:00:00Z","death":4,"hospitalized":null,"total":1118,"totalTestResults":1118,"posNeg":1118,"fips":"06","deathIncrease":4,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":45,"totalTestResultsIncrease":45}'
  recorded_at: Wed, 08 Apr 2020 23:12:24 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200318&state=CT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 55f62ff1-6b5d-45d5-92e1-35de14c0e1fe-225670
    body:
      encoding: UTF-8
      string: '{"date":20200318,"state":"CT","positive":68,"negative":125,"hash":"bad4eb54adc44121dd8d251113c0f8ba0473fec5","dateChecked":"2020-03-18T20:00:00Z","total":193,"totalTestResults":193,"posNeg":193,"fips":"09","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":27,"totalTestResultsIncrease":27}'
  recorded_at: Wed, 08 Apr 2020 23:12:27 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200311&state=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 55f62ff1-6b5d-45d5-92e1-35de14c0e1fe-227398
    body:
      encoding: UTF-8
      string: '{"date":20200311,"state":"DE","positive":1,"negative":17,"pending":2,"hash":"9bc125877399e695097bfde306db2dc3cf015ec3","dateChecked":"2020-03-11T20:00:00Z","total":20,"totalTestResults":18,"posNeg":18,"fips":"10","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":1,"totalTestResultsIncrease":1}'
  recorded_at: Wed, 08 Apr 2020 23:12:29 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200331&state=DE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 55f62ff1-6b5d-45d5-92e1-35de14c0e1fe-227441
    body:
      encoding: UTF-8
      string: '{"date":20200331,"state":"DE","positive":319,"negative":3696,"pending":null,"hospitalizedCurrently":57,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":22,"hash":"2a0658af704fddd0065e7d3e957e71bf99c9f435","dateChecked":"2020-03-31T20:00:00Z","death":10,"hospitalized":null,"total":4015,"totalTestResults":4015,"posNeg":4015,"fips":"10","deathIncrease":4,"hospitalizedIncrease":0,"negativeIncrease":1480,"positiveIncrease":55,"totalTestResultsIncrease":1535}'
  recorded_at: Wed, 08 Apr 2020 23:12:31 GMT
recorded_with: VCR 5.1.0
