---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ca/20200508.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58c-31f"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:48 GMT
      X-Fastly-Request-Id:
      - bfb6c0e9c473f756c5e37da81c1370f3ab1db72b
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - f9dd51b8-65e0-429c-a67d-881d71fc8f37-10844862
    body:
      encoding: UTF-8
      string: '{"date":20200508,"state":"CA","positive":62512,"negative":812760,"pending":null,"hospitalizedCurrently":4514,"hospitalizedCumulative":null,"inIcuCurrently":1342,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"5/8/2020
        14:00","dateModified":"2020-05-08T14:00:00Z","checkTimeEt":"05/08 10:00","death":2585,"hospitalized":null,"dateChecked":"2020-05-08T14:00:00Z","fips":"06","positiveIncrease":1898,"negativeIncrease":30500,"total":875272,"totalTestResults":875272,"totalTestResultsIncrease":32398,"posNeg":875272,"deathIncrease":81,"hospitalizedIncrease":0,"hash":"edc9b653b55bae8fac71105afd25f36d232c1cbf","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 15:12:01 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ca/20200606.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"5edba58c-b3"'
      X-Fastly-Request-Id:
      - 9e3807a7d80e207741aab2b575cde5ccee454d43
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - f9dd51b8-65e0-429c-a67d-881d71fc8f37-10844872
    body:
      encoding: UTF-8
      string: |
        {"error": true,
        "message": "Data not found. Note that state codes in URLs should be lower case, for example, /api/v1/states/ca/info.json instead of /api/v1/states/CA/info.json."}
  recorded_at: Sat, 06 Jun 2020 15:12:01 GMT
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ct/20200515.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58c-31f"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:48 GMT
      X-Fastly-Request-Id:
      - d48d8f1f22088e4c5ccd68d051ef424bbafcbe8d
      X-Origin-Cache:
      - HIT
     [...]
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/de/20200515.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58d-316"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:49 GMT
      X-Fastly-Request-Id:
      - 931790dffb5276289d51b740d29f7e830b870562
      X-Origin-Cache:
      - HIT
     [...]
[...]
