---
http_interactions:
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ca/20200508.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5acb96155254eee00fb296c4ad3087fb-ssl"'
      X-Nf-Request-Id:
      - 86c6fec7-5c0a-4c50-b092-e25085f0f3f5-22981764
    body:
      encoding: UTF-8
      string: '{"date":20200508,"state":"CA","positive":62512,"negative":812760,"pending":null,"hospitalizedCurrently":4514,"hospitalizedCumulative":null,"inIcuCurrently":1342,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"5/8/2020
        14:00","dateModified":"2020-05-08T14:00:00Z","checkTimeEt":"05/08 10:00","death":2585,"hospitalized":null,"dateChecked":"2020-05-08T14:00:00Z","totalTestsViral":875272,"positiveTestsViral":null,"negativeTestsViral":null,"positiveCasesViral":62512,"deathConfirmed":null,"deathProbable":null,"totalTestEncountersViral":null,"totalTestsPeopleViral":null,"totalTestsAntibody":null,"positiveTestsAntibody":null,"negativeTestsAntibody":null,"totalTestsPeopleAntibody":null,"positiveTestsPeopleAntibody":null,"negativeTestsPeopleAntibody":null,"totalTestsPeopleAntigen":null,"positiveTestsPeopleAntigen":null,"totalTestsAntigen":null,"positiveTestsAntigen":null,"fips":"06","positiveIncrease":1898,"negativeIncrease":30500,"total":875272,"totalTestResultsSource":"posNeg","totalTestResults":875272,"totalTestResultsIncrease":32398,"posNeg":875272,"deathIncrease":81,"hospitalizedIncrease":0,"hash":"0eea8a5ba30faf0c37661ae9186678617b7e8ee5","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ct/20200603.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"17555c789443af30b2f1e3bcf99151af-ssl"'
      X-Nf-Request-Id:
      - c286f5e1-deaa-4aca-8ac1-c007ad7e9911-22882489
    body:
      encoding: UTF-8
      string: '{"date":20200603,"state":"CT","positive":[...]
[...]
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/de/20200515.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"c574ce3d621d3448fd7e974a0d34d985-ssl"'
      X-Nf-Request-Id:
      - c286f5e1-deaa-4aca-8ac1-c007ad7e9911-22884868
    body:
      encoding: UTF-8
      string: '{"date":20200515,"state":"DE","positive":[...]
[...]
