---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ca/20200530.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58c-325"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:48 GMT
      X-Fastly-Request-Id:
      - cdee5c7cb7712d30e86a2706e8c88b0101622791
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - f9dd51b8-65e0-429c-a67d-881d71fc8f37-10844849
    body:
      encoding: UTF-8
      string: '{"date":20200530,"state":"CA","positive":106878,"negative":1781717,"pending":null,"hospitalizedCurrently":4215,"hospitalizedCumulative":null,"inIcuCurrently":1273,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"5/30/2020
        00:00","dateModified":"2020-05-30T00:00:00Z","checkTimeEt":"05/29 20:00","death":4156,"hospitalized":null,"dateChecked":"2020-05-30T00:00:00Z","fips":"06","positiveIncrease":2992,"negativeIncrease":50125,"total":1888595,"totalTestResults":1888595,"totalTestResultsIncrease":53117,"posNeg":1888595,"deathIncrease":88,"hospitalizedIncrease":0,"hash":"dae75ce7d6216ab4ef544b383f09ed44f256e42c","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 15:11:57 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ca/20200606.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"5edba58c-b3"'
      X-Fastly-Request-Id:
      - 9e3807a7d80e207741aab2b575cde5ccee454d43
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - f9dd51b8-65e0-429c-a67d-881d71fc8f37-10844872
    body:
      encoding: UTF-8
      string: |
        {"error": true,
        "message": "Data not found. Note that state codes in URLs should be lower case, for example, /api/v1/states/ca/info.json instead of /api/v1/states/CA/info.json."}
  recorded_at: Sat, 06 Jun 2020 15:11:57 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ar/20200509.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58c-30b"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:48 GMT
      X-Fastly-Request-Id:
      - a6d94c3bda9f4985868d352d760b0bea2e1c5ae8
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 6f4856d0-a879-4407-b2ff-6901fcac20f9-2366269
    body:
      encoding: UTF-8
      string: '{"date":20200509,"state":"AR","positive":3747,"negative":61781,"pending":null,"hospitalizedCurrently":64,"hospitalizedCumulative":471,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":14,"onVentilatorCumulative":96,"recovered":2968,"dataQualityGrade":"B","lastUpdateEt":"5/9/2020
        10:15","dateModified":"2020-05-09T10:15:00Z","checkTimeEt":"05/09 06:15","death":88,"hospitalized":471,"dateChecked":"2020-05-09T10:15:00Z","fips":"05","positiveIncrease":53,"negativeIncrease":1481,"total":65528,"totalTestResults":65528,"totalTestResultsIncrease":1534,"posNeg":65528,"deathIncrease":0,"hospitalizedIncrease":5,"hash":"a53393da35878cdb949afa78b236ee9206c709a0","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 15:12:01 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ar/20200606.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"5edba58c-b3"'
      X-Fastly-Request-Id:
      - 595bbe1e429e912ff16b6cc6cdf6624fd10f8091
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 6f4856d0-a879-4407-b2ff-6901fcac20f9-2366305
    body:
      encoding: UTF-8
      string: |
        {"error": true,
        "message": "Data not found. Note that state codes in URLs should be lower case, for example, /api/v1/states/ca/info.json instead of /api/v1/states/CA/info.json."}
  recorded_at: Sat, 06 Jun 2020 15:12:01 GMT
recorded_with: VCR 5.1.0
