---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200312&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - ddeb8606-53a6-40fd-a0e2-c5730386ffbb-4153468
    body:
      encoding: UTF-8
      string: '{"date":20200312,"state":"CA","positive":202,"negative":916,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"8dd3541eb41a6171cc6bbf05632f8d9bb4570490","dateChecked":"2020-03-12T20:00:00Z","death":4,"hospitalized":null,"total":1118,"totalTestResults":1118,"posNeg":1118,"fips":"06","deathIncrease":4,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":45,"totalTestResultsIncrease":45}'
  recorded_at: Wed, 08 Apr 2020 23:12:02 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200314&state=AR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 2048589c-fbc0-4950-8533-27419554e2ef-5687095
    body:
      encoding: UTF-8
      string: '{"date":20200314,"state":"AR","positive":12,"negative":65,"pending":26,"hash":"551428a90628981e98f1a49df229dc8e2a8a6bfe","dateChecked":"2020-03-14T20:00:00Z","total":103,"totalTestResults":77,"posNeg":77,"fips":"05","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":35,"positiveIncrease":3,"totalTestResultsIncrease":38}'
  recorded_at: Wed, 08 Apr 2020 23:12:23 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200406&state=AR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 2048589c-fbc0-4950-8533-27419554e2ef-5687134
    body:
      encoding: UTF-8
      string: '{"date":20200406,"state":"AR","positive":875,"negative":11970,"pending":null,"hospitalizedCurrently":74,"hospitalizedCumulative":137,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":22,"onVentilatorCumulative":39,"recovered":102,"hash":"681e0e05c357b930913804c3afe865bfa6f966d3","dateChecked":"2020-04-06T20:00:00Z","death":16,"hospitalized":137,"total":12845,"totalTestResults":12845,"posNeg":12845,"fips":"05","deathIncrease":0,"hospitalizedIncrease":7,"negativeIncrease":1558,"positiveIncrease":45,"totalTestResultsIncrease":1603}'
  recorded_at: Wed, 08 Apr 2020 23:12:23 GMT
recorded_with: VCR 5.1.0
