---
http_interactions:
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ca/20200524.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9035fcfeaad581888fe8278306654be0-ssl"'
      X-Nf-Request-Id:
      - 86c6fec7-5c0a-4c50-b092-e25085f0f3f5-22981735
    body:
      encoding: UTF-8
      string: '{"date":20200524,"state":"CA","positive":92710,"negative":1490035,"pending":null,"hospitalizedCurrently":4300,"hospitalizedCumulative":null,"inIcuCurrently":1315,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"5/24/2020
        00:00","dateModified":"2020-05-24T00:00:00Z","checkTimeEt":"05/23 20:00","death":3774,"hospitalized":null,"dateChecked":"2020-05-24T00:00:00Z","totalTestsViral":1582745,"positiveTestsViral":null,"negativeTestsViral":null,"positiveCasesViral":92710,"deathConfirmed":null,"deathProbable":null,"totalTestEncountersViral":null,"totalTestsPeopleViral":null,"totalTestsAntibody":null,"positiveTestsAntibody":null,"negativeTestsAntibody":null,"totalTestsPeopleAntibody":null,"positiveTestsPeopleAntibody":null,"negativeTestsPeopleAntibody":null,"totalTestsPeopleAntigen":null,"positiveTestsPeopleAntigen":null,"totalTestsAntigen":null,"positiveTestsAntigen":null,"fips":"06","positiveIncrease":2079,"negativeIncrease":65360,"total":1582745,"totalTestResultsSource":"posNeg","totalTestResults":1582745,"totalTestResultsIncrease":67439,"posNeg":1582745,"deathIncrease":66,"hospitalizedIncrease":0,"hash":"49725b655ed990342d1a9144df406ce301313501","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ar/20200519.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"becfb47b48f88ddd3b86b8ee6192e5a6-ssl"'
      X-Nf-Request-Id:
      - 0cb4026a-3e89-4e48-a373-0785ba08bf98-23867470
    body:
      encoding: UTF-8
      string: '{"date":20200519,"state":"AR","positive":[...]
[...]
