---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200307&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - dd17cd46-e826-4fb3-b0c2-01ce5c4ac7eb-2755820
    body:
      encoding: UTF-8
      string: '{"date":20200307,"state":"CA","positive":69,"negative":462,"hash":"311a213f5744c6b33147c107519218e8d9f55d23","dateChecked":"2020-03-07T21:00:00Z","total":531,"totalTestResults":531,"posNeg":531,"fips":"06","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":9,"totalTestResultsIncrease":9}'
  recorded_at: Sun, 05 Apr 2020 02:53:51 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200312&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - dd17cd46-e826-4fb3-b0c2-01ce5c4ac7eb-2756259
    body:
      encoding: UTF-8
      string: '{"date":20200312,"state":"CA","positive":202,"negative":916,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"8dd3541eb41a6171cc6bbf05632f8d9bb4570490","dateChecked":"2020-03-12T20:00:00Z","death":4,"hospitalized":null,"total":1118,"totalTestResults":1118,"posNeg":1118,"fips":"06","deathIncrease":4,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":45,"totalTestResultsIncrease":45}'
  recorded_at: Sun, 05 Apr 2020 02:53:51 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200405&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - dd17cd46-e826-4fb3-b0c2-01ce5c4ac7eb-2757587
    body:
      encoding: UTF-8
      string: '{"error":true,"message":"No data available. Try changing query args."}'
  recorded_at: Sun, 05 Apr 2020 02:53:55 GMT
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200307&state=AR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - dd17cd46-e826-4fb3-b0c2-01ce5c4ac7eb-2757789
    body:
      encoding: UTF-8
      string: '{"date":20200307,"state":"AR","positive":0,"negative":6,"pending":0,"hash":"bdba8d05662d7b38e7309c5baa49cd20b63a536b","dateChecked":"2020-03-07T21:00:00Z","total":6,"totalTestResults":6,"posNeg":6,"fips":"05","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":0,"totalTestResultsIncrease":0}'
  recorded_at: Sun, 05 Apr 2020 02:53:56 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200405&state=AR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - dd17cd46-e826-4fb3-b0c2-01ce5c4ac7eb-2759622
    body:
      encoding: UTF-8
      string: '{"error":true,"message":"No data available. Try changing query args."}'
  recorded_at: Sun, 05 Apr 2020 02:54:00 GMT
recorded_with: VCR 5.1.0
