- content_for :page_title do
  Welcome!

.welcome
  :markdown
    This project is a work in progress! I created it because there didn’t seem to be a source of time series charts showing the number of novel coronavirus cases per day *for each U.S. state*. This site provides easy access to such charts, showing the last 30 days of data (or whatever’s available if it’s less than 30 days); the data is courtesy of the wonderful [COVID Tracking Project](https://covidtracking.com/).

    My aim is for this site to be easy to use and accessible to all users, including visually impaired users and those without JavaScript support. If you have a feature request, or if you’d like to contribute code or otherwise collaborate, please feel free to file an issue at our [GitHub repository](https://github.com/marnen/covid_tracking_charts).

  %p
    I hope you find this project useful!
    %br
    %span.signature= link_to '—Marnen E. Laibow-Koser', 'http://www.marnen.org'
