---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/MA/20200323.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"718951316b5e6929cc2ff97fa8366a96-ssl"'
      X-Nf-Request-Id:
      - 7ae943e3-14e2-489e-a073-521f9710e8e2-9605993
    body:
      encoding: UTF-8
      string: '{"date":20200323,"state":"MA","positive":678,"negative":8263,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":79,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"3/23/2020
        12:30","hash":"7e25fc50045298a3678688fe9a1d57f0fb893475","dateChecked":"2020-03-23T20:00:00Z","death":17,"hospitalized":79,"total":8941,"totalTestResults":8941,"posNeg":8941,"fips":"25","deathIncrease":6,"hospitalizedIncrease":8,"negativeIncrease":2787,"positiveIncrease":131,"totalTestResultsIncrease":2918}'
  recorded_at: Fri, 10 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/NY/20200320.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"073d3039478a1a94b1a185522e135d88-ssl"'
      X-Nf-Request-Id:
      - ebc1d7f2-46f0-454e-924e-47bbd03d320a-20033934
    body:
      encoding: UTF-8
      string: '{"date":20200320,"state":"NY","positive":7102,"negative":25325,"pending":null,"hospitalizedCurrently":1042,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":null,"lastUpdateEt":"3/20/2020
        13:20","hash":"095d6b7dfaf049aed260c22124a93718d18a054d","dateChecked":"2020-03-20T20:00:00Z","death":35,"hospitalized":null,"total":32427,"totalTestResults":32427,"posNeg":32427,"fips":"36","deathIncrease":23,"hospitalizedIncrease":0,"negativeIncrease":7193,"positiveIncrease":2950,"totalTestResultsIncrease":10143}'
  recorded_at: Fri, 10 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/CT/20200313.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"4655c17d96cc4c3d4349fb5c49544b3a-ssl"'
      X-Nf-Request-Id:
      - df03727c-52d1-4364-a895-e57eec1a1e59-24034790
    body:
      encoding: UTF-8
      string: '{"date":20200313,"state":"CT","positive":6,"negative":99,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":null,"lastUpdateEt":"3/12/2020
        19:00","hash":"789a85d553e2adaf5b63a1fdac3f87f402263c49","dateChecked":"2020-03-13T20:00:00Z","death":null,"hospitalized":null,"total":105,"totalTestResults":105,"posNeg":105,"fips":"09","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":10,"positiveIncrease":0,"totalTestResultsIncrease":10}'
  recorded_at: Fri, 10 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/NY/20200410.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"b21f5f4792448a839e95b197c44c19c3-ssl"'
      X-Nf-Request-Id:
      - ebc1d7f2-46f0-454e-924e-47bbd03d320a-20033958
    body:
      encoding: UTF-8
      string: '{"date":20200410,"state":"NY","positive":170512,"negative":247373,"pending":null,"hospitalizedCurrently":18569,"hospitalizedCumulative":38818,"inIcuCurrently":4908,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":20249,"dataQualityGrade":"A","lastUpdateEt":"4/10/2020
        00:00","hash":"09162924c4b839ad6fbd55eb290671d94941e034","dateChecked":"2020-04-10T20:00:00Z","death":7844,"hospitalized":38818,"total":417885,"totalTestResults":417885,"posNeg":417885,"fips":"36","deathIncrease":777,"hospitalizedIncrease":2242,"negativeIncrease":15761,"positiveIncrease":10575,"totalTestResultsIncrease":26336}'
  recorded_at: Fri, 10 Apr 2020 04:00:00 GMT
recorded_with: VCR 5.1.0
