---
http_interactions:
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ma/20200326.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5a3acb31d6d098c4a29f6a799b0cc626-ssl"'
      X-Nf-Request-Id:
      - 64180e8e-f1e6-4d91-93b9-93a4d3b0a5d6-23937811
    body:
      encoding: UTF-8
      string: '{"date":20200326,"state":"MA","positive":2318,"negative":21327,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":219,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"3/26/2020
        12:30","dateModified":"2020-03-26T12:30:00Z","checkTimeEt":"03/26 08:30","death":42,"hospitalized":219,"dateChecked":"2020-03-26T12:30:00Z","totalTestsViral":null,"positiveTestsViral":null,"negativeTestsViral":null,"positiveCasesViral":null,"deathConfirmed":null,"deathProbable":null,"totalTestEncountersViral":null,"totalTestsPeopleViral":null,"totalTestsAntibody":null,"positiveTestsAntibody":null,"negativeTestsAntibody":null,"totalTestsPeopleAntibody":null,"positiveTestsPeopleAntibody":null,"negativeTestsPeopleAntibody":null,"totalTestsPeopleAntigen":null,"positiveTestsPeopleAntigen":null,"totalTestsAntigen":null,"positiveTestsAntigen":null,"fips":"25","positiveIncrease":579,"negativeIncrease":3248,"total":23645,"totalTestResultsSource":"posNeg","totalTestResults":23645,"totalTestResultsIncrease":3827,"posNeg":23645,"deathIncrease":9,"hospitalizedIncrease":116,"hash":"c6d2a113aa8378f5e06181db31e14a28aec54bd4","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Fri, 10 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ny/20200328.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"df7955b8eee89104a417840c657aac87-ssl"'
      X-Nf-Request-Id:
      - c286f5e1-deaa-4aca-8ac1-c007ad7e9911-22836450
    body:
      encoding: UTF-8
      string: '{"date":20200328,"state":"NY","positive":[...]
[...]
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ct/20200316.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"540b3bedf2d4e062e5874f516c7cf562-ssl"'
      X-Nf-Request-Id:
      - c286f5e1-deaa-4aca-8ac1-c007ad7e9911-22838492
    body:
      encoding: UTF-8
      string: '{"date":20200316,"state":"CT","positive":[...]
[...]
