---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ma/20200331.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58d-317"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:49 GMT
      X-Fastly-Request-Id:
      - 3d4662f8d3c83dc697d0c704bb8e2e3e615737c9
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 7b5091e5-db0f-4634-a407-2a78a3d52c67-8819532
    body:
      encoding: UTF-8
      string: '{"date":20200331,"state":"MA","positive":6521,"negative":40440,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":562,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"3/31/2020
        12:30","dateModified":"2020-03-31T12:30:00Z","checkTimeEt":"03/31 08:30","death":153,"hospitalized":562,"dateChecked":"2020-03-31T12:30:00Z","fips":"25","positiveIncrease":868,"negativeIncrease":3274,"total":46961,"totalTestResults":46961,"totalTestResultsIncrease":4142,"posNeg":46961,"deathIncrease":29,"hospitalizedIncrease":109,"hash":"edcd9bf6f26657a04bc06f9f01cebd6d34bab4ec","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Fri, 10 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ny/20200314.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58d-30d"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:49 GMT
      X-Fastly-Request-Id:
      - b8661f7a06734f27d9a697c01bd384a2aa82bda8
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 4c117934-1a37-4503-9f29-c62270a920de-1518496
    body:
      encoding: UTF-8
      string: '{"date":20200314,"state":"NY","positive":524,"negative":2779,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"","lastUpdateEt":"3/14/2020
        12:30","dateModified":"2020-03-14T12:30:00Z","checkTimeEt":"03/14 08:30","death":null,"hospitalized":null,"dateChecked":"2020-03-14T12:30:00Z","fips":"36","positiveIncrease":103,"negativeIncrease":0,"total":3303,"totalTestResults":3303,"totalTestResultsIncrease":103,"posNeg":3303,"deathIncrease":0,"hospitalizedIncrease":0,"hash":"1d5e422510d3963348b411544331032f6fabdeb2","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Fri, 10 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ct/20200315.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58c-304"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:48 GMT
      X-Fastly-Request-Id:
      - 71af657aadbae40bf498a0dac848076a6f238f5d
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 4c117934-1a37-4503-9f29-c62270a920de-1519464
    body:
      encoding: UTF-8
      string: '{"date":20200315,"state":"CT","positive":20,"negative":125,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"","lastUpdateEt":"3/14/2020
        17:00","dateModified":"2020-03-14T17:00:00Z","checkTimeEt":"03/14 13:00","death":null,"hospitalized":null,"dateChecked":"2020-03-14T17:00:00Z","fips":"09","positiveIncrease":9,"negativeIncrease":0,"total":145,"totalTestResults":145,"totalTestResultsIncrease":9,"posNeg":145,"deathIncrease":0,"hospitalizedIncrease":0,"hash":"70938846ad6f5e743388069e24a7ecf83b2ef56d","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Fri, 10 Apr 2020 04:00:00 GMT
[...]
