---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200318&state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - a133b930-6b89-4f8d-8621-135f60addbac-16613904
    body:
      encoding: UTF-8
      string: '{"date":20200318,"state":"MA","positive":256,"negative":2015,"hash":"f33af005453944a9da0ca3a04bb26228e086da9e","dateChecked":"2020-03-18T20:00:00Z","total":2271,"totalTestResults":2271,"posNeg":2271,"fips":"25","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":474,"positiveIncrease":38,"totalTestResultsIncrease":512}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200401&state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - a133b930-6b89-4f8d-8621-135f60addbac-16613925
    body:
      encoding: UTF-8
      string: '{"date":20200401,"state":"MA","positive":7738,"negative":44000,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":682,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"70ea3d599c7c506eafd12cbed1d23daa16709040","dateChecked":"2020-04-01T20:00:00Z","death":122,"hospitalized":682,"total":51738,"totalTestResults":51738,"posNeg":51738,"fips":"25","deathIncrease":33,"hospitalizedIncrease":120,"negativeIncrease":3685,"positiveIncrease":1118,"totalTestResultsIncrease":4803}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200308&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - a0f0d69a-068c-4f06-8116-30db66e2190c-4872652
    body:
      encoding: UTF-8
      string: '{"date":20200308,"state":"NY","positive":105,"negative":92,"hash":"f6d3b78f41cadeaf08e72f35692a9619d70aad07","dateChecked":"2020-03-08T20:00:00Z","total":197,"totalTestResults":197,"posNeg":197,"fips":"36","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":29,"totalTestResultsIncrease":29}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200308&state=CT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - adf1a84f-f92f-4340-9121-1f49327179f0-5584199
    body:
      encoding: UTF-8
      string: '{"date":20200308,"state":"CT","positive":1,"negative":29,"pending":8,"hash":"9af238ecf88478ebbe90c92437c721d9fd8e6d17","dateChecked":"2020-03-08T20:00:00Z","total":38,"totalTestResults":30,"posNeg":30,"fips":"09","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":29,"positiveIncrease":1,"totalTestResultsIncrease":30}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200406&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - a0f0d69a-068c-4f06-8116-30db66e2190c-4872686
    body:
      encoding: UTF-8
      string: '{"date":20200406,"state":"NY","positive":130689,"negative":190122,"pending":null,"hospitalizedCurrently":16837,"hospitalizedCumulative":30203,"inIcuCurrently":4504,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":13366,"hash":"2f8e8d32b6402d0d288a4d4db9946c5667b67f39","dateChecked":"2020-04-06T20:00:00Z","death":4758,"hospitalized":30203,"total":320811,"totalTestResults":320811,"posNeg":320811,"fips":"36","deathIncrease":599,"hospitalizedIncrease":2111,"negativeIncrease":9873,"positiveIncrease":8658,"totalTestResultsIncrease":18531}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
recorded_with: VCR 5.1.0
