---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200310&state=CT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - b8f5eb99-967e-48ec-acd8-d4b518065618-2015117
    body:
      encoding: UTF-8
      string: '{"date":20200310,"state":"CT","positive":2,"negative":54,"hash":"75db1306a0c3b31835dc1c30f84f59c0a1029937","dateChecked":"2020-03-10T20:00:00Z","total":56,"totalTestResults":56,"posNeg":56,"fips":"09","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":8,"positiveIncrease":1,"totalTestResultsIncrease":9}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200331&state=CT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - b8f5eb99-967e-48ec-acd8-d4b518065618-2015147
    body:
      encoding: UTF-8
      string: '{"date":20200331,"state":"CT","positive":3128,"negative":13029,"pending":null,"hospitalizedCurrently":608,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"1dbf8c0e8e39af7461e15fb8855c64efc447b563","dateChecked":"2020-03-31T20:00:00Z","death":69,"hospitalized":null,"total":16157,"totalTestResults":16157,"posNeg":16157,"fips":"09","deathIncrease":33,"hospitalizedIncrease":0,"negativeIncrease":1000,"positiveIncrease":557,"totalTestResultsIncrease":1557}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200313&state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - b547604d-7b3e-4934-ac09-7da237dfd2f3-1642843
    body:
      encoding: UTF-8
      string: '{"date":20200313,"state":"MA","positive":123,"negative":92,"hash":"020263557685d33ade8e1849eeb35c2a8a12843a","dateChecked":"2020-03-13T20:00:00Z","total":215,"totalTestResults":215,"posNeg":215,"fips":"25","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":92,"positiveIncrease":28,"totalTestResultsIncrease":120}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200310&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - b8f5eb99-967e-48ec-acd8-d4b518065618-2019680
    body:
      encoding: UTF-8
      string: '{"date":20200310,"state":"NY","positive":173,"negative":92,"hash":"193f85893cecb99d063a03060bc4802d2d6458f1","dateChecked":"2020-03-10T20:00:00Z","total":265,"totalTestResults":265,"posNeg":265,"fips":"36","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":31,"totalTestResultsIncrease":31}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200331&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - b8f5eb99-967e-48ec-acd8-d4b518065618-2019709
    body:
      encoding: UTF-8
      string: '{"date":20200331,"state":"NY","positive":75795,"negative":129391,"pending":null,"hospitalizedCurrently":10929,"hospitalizedCumulative":15904,"inIcuCurrently":2710,"inIcuCumulative":2710,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":4975,"hash":"a3afdea93fae4daf8073978749d736d46e9134c6","dateChecked":"2020-03-31T20:00:00Z","death":1550,"hospitalized":15904,"total":205186,"totalTestResults":205186,"posNeg":205186,"fips":"36","deathIncrease":332,"hospitalizedIncrease":2183,"negativeIncrease":9420,"positiveIncrease":9298,"totalTestResultsIncrease":18718}'
  recorded_at: Mon, 06 Apr 2020 07:00:00 GMT
recorded_with: VCR 5.1.0
