---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200311&state=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 40346602-d6c8-4974-9e30-9496aa5becbe-5411667
    body:
      encoding: UTF-8
      string: '{"date":20200311,"state":"AL","positive":0,"negative":10,"hash":"e4593577708b6182b9126434908df283def67838","dateChecked":"2020-03-11T20:00:00Z","total":10,"totalTestResults":10,"posNeg":10,"fips":"01","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":10,"positiveIncrease":0,"totalTestResultsIncrease":10}'
  recorded_at: Wed, 08 Apr 2020 22:35:39 GMT
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200405&state=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 40346602-d6c8-4974-9e30-9496aa5becbe-5411705
    body:
      encoding: UTF-8
      string: '{"date":20200405,"state":"AL","positive":1796,"negative":11282,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":231,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"3f2c1f28926eeadf623d04aeb3716d29c5394d3c","dateChecked":"2020-04-05T20:00:00Z","death":45,"hospitalized":231,"total":13078,"totalTestResults":13078,"posNeg":13078,"fips":"01","deathIncrease":2,"hospitalizedIncrease":19,"negativeIncrease":2009,"positiveIncrease":216,"totalTestResultsIncrease":2225}'
  recorded_at: Wed, 08 Apr 2020 22:35:40 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200310&state=WY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - fdc4a4b6-76f7-4f05-a828-8c1b66578e25-5473557
    body:
      encoding: UTF-8
      string: '{"date":20200310,"state":"WY","positive":0,"negative":0,"pending":0,"hash":"7386ca913797703a8f0738ff599605f36db6d06b","dateChecked":"2020-03-10T20:00:00Z","total":0,"totalTestResults":0,"posNeg":0,"fips":"56","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":0,"totalTestResultsIncrease":0}'
  recorded_at: Wed, 08 Apr 2020 22:35:42 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200316&state=AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - fdc4a4b6-76f7-4f05-a828-8c1b66578e25-5475814
    body:
      encoding: UTF-8
      string: '{"date":20200316,"state":"AK","positive":1,"negative":143,"hash":"55b0b029eac24362c03262d39c1daf9fd34c4e6d","dateChecked":"2020-03-16T20:00:00Z","total":144,"totalTestResults":144,"posNeg":144,"fips":"02","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":0,"totalTestResultsIncrease":0}'
  recorded_at: Wed, 08 Apr 2020 22:35:45 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200406&state=AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - fdc4a4b6-76f7-4f05-a828-8c1b66578e25-5475858
    body:
      encoding: UTF-8
      string: '{"date":20200406,"state":"AK","positive":191,"negative":6692,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":23,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"4d91929ba83b31e1dda30ca4a3c7d5716d39bfd7","dateChecked":"2020-04-06T20:00:00Z","death":6,"hospitalized":23,"total":6883,"totalTestResults":6883,"posNeg":6883,"fips":"02","deathIncrease":0,"hospitalizedIncrease":3,"negativeIncrease":593,"positiveIncrease":6,"totalTestResultsIncrease":599}'
  recorded_at: Wed, 08 Apr 2020 22:35:46 GMT
recorded_with: VCR 5.1.0
