---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200311&state=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 55f62ff1-6b5d-45d5-92e1-35de14c0e1fe-15154471
    body:
      encoding: UTF-8
      string: '{"date":20200311,"state":"AL","positive":0,"negative":10,"hash":"e4593577708b6182b9126434908df283def67838","dateChecked":"2020-03-11T20:00:00Z","total":10,"totalTestResults":10,"posNeg":10,"fips":"01","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":10,"positiveIncrease":0,"totalTestResultsIncrease":10}'
  recorded_at: Thu, 09 Apr 2020 05:56:11 GMT
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200401&state=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 55f62ff1-6b5d-45d5-92e1-35de14c0e1fe-15154515
    body:
      encoding: UTF-8
      string: '{"date":20200401,"state":"AL","positive":1077,"negative":6697,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"9bd398e733a5ca5042bde1fd8ce2831fc248b0b1","dateChecked":"2020-04-01T20:00:00Z","death":26,"hospitalized":null,"total":7774,"totalTestResults":7774,"posNeg":7774,"fips":"01","deathIncrease":13,"hospitalizedIncrease":0,"negativeIncrease":399,"positiveIncrease":96,"totalTestResultsIncrease":495}'
  recorded_at: Thu, 09 Apr 2020 05:56:11 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200311&state=WY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - a0f0d69a-068c-4f06-8116-30db66e2190c-4886040
    body:
      encoding: UTF-8
      string: '{"date":20200311,"state":"WY","positive":0,"hash":"b2a970a45b39b2c7ec078c35757610c22241c0f6","dateChecked":"2020-03-11T20:00:00Z","total":0,"totalTestResults":0,"posNeg":0,"fips":"56","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":0,"totalTestResultsIncrease":0}'
  recorded_at: Thu, 09 Apr 2020 05:56:14 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200317&state=AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - a0f0d69a-068c-4f06-8116-30db66e2190c-4887103
    body:
      encoding: UTF-8
      string: '{"date":20200317,"state":"AK","positive":3,"negative":334,"hash":"c1859e4b0fcf9f53476595916f4e354d9cdddd40","dateChecked":"2020-03-17T20:00:00Z","total":337,"totalTestResults":337,"posNeg":337,"fips":"02","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":191,"positiveIncrease":2,"totalTestResultsIncrease":193}'
  recorded_at: Thu, 09 Apr 2020 05:56:17 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200408&state=WY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - a0f0d69a-068c-4f06-8116-30db66e2190c-4886083
    body:
      encoding: UTF-8
      string: '{"date":20200408,"state":"WY","positive":221,"negative":3843,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":33,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":62,"hash":"871dc959c9d38ea20b4d4c856b22997e0bccaf55","dateChecked":"2020-04-08T20:00:00Z","death":0,"hospitalized":33,"total":4064,"totalTestResults":4064,"posNeg":4064,"fips":"56","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":54,"positiveIncrease":5,"totalTestResultsIncrease":59}'
  recorded_at: Thu, 09 Apr 2020 05:56:20 GMT
recorded_with: VCR 5.1.0
