---
http_interactions:
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/al/20200509.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6962328b1ffaffa0c11f93fc1b985872-ssl"'
      X-Nf-Request-Id:
      - 6d199502-cf9d-40d5-b77d-5ee341774e7e-22987394
    body:
      encoding: UTF-8
      string: '{"date":20200509,"state":"AL","positive":9567,"negative":115927,"pending":null,"hospitalizedCurrently":437,"hospitalizedCumulative":1228,"inIcuCurrently":null,"inIcuCumulative":459,"onVentilatorCurrently":null,"onVentilatorCumulative":272,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"5/9/2020
        00:00","dateModified":"2020-05-09T00:00:00Z","checkTimeEt":"05/08 20:00","death":388,"hospitalized":1228,"dateChecked":"2020-05-09T00:00:00Z","totalTestsViral":125494,"positiveTestsViral":null,"negativeTestsViral":null,"positiveCasesViral":9567,"deathConfirmed":388,"deathProbable":null,"totalTestEncountersViral":null,"totalTestsPeopleViral":null,"totalTestsAntibody":null,"positiveTestsAntibody":null,"negativeTestsAntibody":null,"totalTestsPeopleAntibody":null,"positiveTestsPeopleAntibody":null,"negativeTestsPeopleAntibody":null,"totalTestsPeopleAntigen":null,"positiveTestsPeopleAntigen":null,"totalTestsAntigen":null,"positiveTestsAntigen":null,"fips":"01","positiveIncrease":346,"negativeIncrease":5034,"total":125494,"totalTestResultsSource":"posNeg","totalTestResults":125494,"totalTestResultsIncrease":5380,"posNeg":125494,"deathIncrease":13,"hospitalizedIncrease":21,"hash":"4541dc494a0a8970c2bca90c5d3ccdca451763eb","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/wy/20200529.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"28bfafd4bd815070deed2ba6eab648aa-ssl"'
      X-Nf-Request-Id:
      - 7769177d-596b-4c15-ae2a-ba0b57666a31-10750019
    body:
      encoding: UTF-8
      string: '{"date":20200529,"state":"WY","positive":[...]
[...]
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ak/20200527.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"48aba7256c418dd1e23d2c0e942cc844-ssl"'
      X-Nf-Request-Id:
      - 64180e8e-f1e6-4d91-93b9-93a4d3b0a5d6-23967923
    body:
      encoding: UTF-8
      string: '{"date":20200527,"state":"AK","positive":[...]
[...]
