---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/al/20200520.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58c-31b"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:48 GMT
      X-Fastly-Request-Id:
      - 503db4a4bae958bc91570c4611738439c1de7fda
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 6f4856d0-a879-4407-b2ff-6901fcac20f9-2358596
    body:
      encoding: UTF-8
      string: '{"date":20200520,"state":"AL","positive":12744,"negative":151706,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":1493,"inIcuCurrently":null,"inIcuCumulative":524,"onVentilatorCurrently":null,"onVentilatorCumulative":309,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"5/19/2020
        00:00","dateModified":"2020-05-19T00:00:00Z","checkTimeEt":"05/18 20:00","death":517,"hospitalized":1493,"dateChecked":"2020-05-19T00:00:00Z","fips":"01","positiveIncrease":368,"negativeIncrease":6516,"total":164450,"totalTestResults":164450,"totalTestResultsIncrease":6884,"posNeg":164450,"deathIncrease":13,"hospitalizedIncrease":40,"hash":"1f9cb20345c2c4b6a2d25930cba3b070b8200374","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 15:11:45 GMT
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/al/20200517.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58c-319"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:48 GMT
      X-Fastly-Request-Id:
      - ea466fef640e8d38ddcacaa68833455fd7a29250
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 6f4856d0-a879-4407-b2ff-6901fcac20f9-2358595
    body:
      encoding: UTF-8
      string: '{"date":20200517,"state":"AL","positive":11771,"negative":144579,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":1392,"inIcuCurrently":null,"inIcuCumulative":504,"onVentilatorCurrently":null,"onVentilatorCumulative":296,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"5/16/2020
        00:00","dateModified":"2020-05-16T00:00:00Z","checkTimeEt":"05/15 20:00","death":488,"hospitalized":1392,"dateChecked":"2020-05-16T00:00:00Z","fips":"01","positiveIncrease":248,"negativeIncrease":2608,"total":156350,"totalTestResults":156350,"totalTestResultsIncrease":2856,"posNeg":156350,"deathIncrease":3,"hospitalizedIncrease":5,"hash":"b273df2d076134a757f8fa515f38d0db818abd53","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 15:11:45 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/al/20200606.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"5edba58c-b3"'
      X-Fastly-Request-Id:
      - f729a9f122f17f18cf31ed280adbb185fb711fdb
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 6f4856d0-a879-4407-b2ff-6901fcac20f9-2358617
    body:
      encoding: UTF-8
      string: |
        {"error": true,
        "message": "Data not found. Note that state codes in URLs should be lower case, for example, /api/v1/states/ca/info.json instead of /api/v1/states/CA/info.json."}
  recorded_at: Sat, 06 Jun 2020 15:11:46 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/wy/20200519.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58d-309"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:49 GMT
      X-Fastly-Request-Id:
      - 9a9aae09a4c1f248ac2041c8aeaf0a03a05193a3
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - f9dd51b8-65e0-429c-a67d-881d71fc8f37-10837879
    body:
      encoding: UTF-8
      string: '{"date":20200519,"state":"WY","positive":766,"negative":17084,"pending":null,"hospitalizedCurrently":8,"hospitalizedCumulative":73,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":504,"dataQualityGrade":"B","lastUpdateEt":"5/18/2020
        00:00","dateModified":"2020-05-18T00:00:00Z","checkTimeEt":"05/17 20:00","death":10,"hospitalized":73,"dateChecked":"2020-05-18T00:00:00Z","fips":"56","positiveIncrease":12,"negativeIncrease":753,"total":17850,"totalTestResults":17850,"totalTestResultsIncrease":765,"posNeg":17850,"deathIncrease":2,"hospitalizedIncrease":0,"hash":"f5bfc2d5e2940d1783ca02e11f82e97a7df4a476","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 15:11:47 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ak/20200530.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58c-30c"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:48 GMT
      X-Fastly-Request-Id:
      - f1fbfe71358a32456faf4442ea55c8513ce46750
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 8b5abc75-e07a-4d99-ab81-f71c85663267-431884
    body:
      encoding: UTF-8
      string: '{"date":20200530,"state":"AK","positive":434,"negative":51261,"pending":null,"hospitalizedCurrently":14,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":2,"onVentilatorCumulative":null,"recovered":368,"dataQualityGrade":"A","lastUpdateEt":"5/30/2020
        00:00","dateModified":"2020-05-30T00:00:00Z","checkTimeEt":"05/29 20:00","death":10,"hospitalized":null,"dateChecked":"2020-05-30T00:00:00Z","fips":"02","positiveIncrease":4,"negativeIncrease":2252,"total":51695,"totalTestResults":51695,"totalTestResultsIncrease":2256,"posNeg":51695,"deathIncrease":0,"hospitalizedIncrease":0,"hash":"e723ac609366457a95502d8d07dd4be31472d9fb","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sat, 06 Jun 2020 15:11:50 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/wy/20200606.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"5edba58c-b3"'
      X-Fastly-Request-Id:
      - 13ef3d8fefeb6ede08339f79aff4eae6e8341099
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - f9dd51b8-65e0-429c-a67d-881d71fc8f37-10837913
    body:
      encoding: UTF-8
      string: |
        {"error": true,
        "message": "Data not found. Note that state codes in URLs should be lower case, for example, /api/v1/states/ca/info.json instead of /api/v1/states/CA/info.json."}
  recorded_at: Sat, 06 Jun 2020 15:11:51 GMT
recorded_with: VCR 5.1.0
