---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200322&state=AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - adf1a84f-f92f-4340-9121-1f49327179f0-1233133
    body:
      encoding: UTF-8
      string: '{"date":20200322,"state":"AK","positive":22,"negative":946,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":0,"hash":"504bd8c46a81250111c4f843793c7109a771b3c1","dateChecked":"2020-03-22T20:00:00Z","hospitalized":0,"total":968,"totalTestResults":968,"posNeg":968,"fips":"02","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":188,"positiveIncrease":8,"totalTestResultsIncrease":196}'
  recorded_at: Thu, 09 Apr 2020 03:33:49 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200325&state=AK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - adf1a84f-f92f-4340-9121-1f49327179f0-1233137
    body:
      encoding: UTF-8
      string: '{"date":20200325,"state":"AK","positive":42,"negative":1649,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":1,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"d0981dc0ff9e0b50793d2307ce11831905ea3c01","dateChecked":"2020-03-25T20:00:00Z","death":1,"hospitalized":1,"total":1691,"totalTestResults":1691,"posNeg":1691,"fips":"02","deathIncrease":1,"hospitalizedIncrease":1,"negativeIncrease":663,"positiveIncrease":6,"totalTestResultsIncrease":669}'
  recorded_at: Thu, 09 Apr 2020 03:33:49 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200311&state=AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 55f62ff1-6b5d-45d5-92e1-35de14c0e1fe-10604429
    body:
      encoding: UTF-8
      string: '{"date":20200311,"state":"AL","positive":0,"negative":10,"hash":"e4593577708b6182b9126434908df283def67838","dateChecked":"2020-03-11T20:00:00Z","total":10,"totalTestResults":10,"posNeg":10,"fips":"01","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":10,"positiveIncrease":0,"totalTestResultsIncrease":10}'
  recorded_at: Thu, 09 Apr 2020 03:33:52 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200310&state=WY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - b8f5eb99-967e-48ec-acd8-d4b518065618-2042079
    body:
      encoding: UTF-8
      string: '{"date":20200310,"state":"WY","positive":0,"negative":0,"pending":0,"hash":"7386ca913797703a8f0738ff599605f36db6d06b","dateChecked":"2020-03-10T20:00:00Z","total":0,"totalTestResults":0,"posNeg":0,"fips":"56","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":0,"totalTestResultsIncrease":0}'
  recorded_at: Thu, 09 Apr 2020 03:33:55 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200331&state=WY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - b8f5eb99-967e-48ec-acd8-d4b518065618-2042124
    body:
      encoding: UTF-8
      string: '{"date":20200331,"state":"WY","positive":109,"negative":1999,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":17,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":26,"hash":"56481c095ddf7e629ed8e0a3c0eedf3ce33180f7","dateChecked":"2020-03-31T20:00:00Z","death":0,"hospitalized":17,"total":2108,"totalTestResults":2108,"posNeg":2108,"fips":"56","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":159,"positiveIncrease":15,"totalTestResultsIncrease":174}'
  recorded_at: Thu, 09 Apr 2020 03:33:56 GMT
recorded_with: VCR 5.1.0
