@import 'base';

html {
  background-color: $background-color;
  color: $text-color;
  font-family: $roboto;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: $roboto-slab;
}

main {
  padding-top: 2em;

  h1 {
    font-size: 150%;
  }
}

header {
  a {
    color: inherit;
  }

  h1 {
    font-size: 200%;
  }
}

footer {
  font-size: 80%;
  color: $footer-color;
  margin-top: 2.5em;
  border-top: 1px solid $footer-color;

  p {
    margin: 0.75em auto;
  }
}

span.accent {
  color: $accent-color;
}

@for $i from 1 through 12 {
  .state-#{$i} {
    color: nth($series-colors, $i);
  }
}

code {
  font: {
    family: $monospace;
    size: 80%;
  };
}

details > *:not(summary) {
  margin: auto 1em;
}

.raw-data {
  dt {
    margin-top: 0.5em;
  }

  dd {
    margin-left: 1em;
  }
}

.signature {
  margin-left: 1.5em;
  font-style: italic;
}

.welcome {
  font-size: 110%;
}
