@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@400;700&display=swap');

$navy-blue: #220044;
$pale-gray: #f0f0f0;
$orange: #e88c35;
$background-color: $navy-blue;
$text-color: $pale-gray;
$accent-color: $orange;

$roboto: Roboto, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace: 'Roboto Mono', Menlo, Monaco, Consolas, monospace;

html {
  background-color: $background-color;
  color: $text-color;
  font-family: $roboto;
}

main h1 {
  font-size: 150%;
}

header h1 {
  font-size: 200%;
}

span.accent {
  color: $accent-color;
}

code {
  font: {
    family: $monospace;
    size: 80%;
  };
}

details > *:not(summary) {
  margin: auto 1em;
}

.raw-data {
  dt {
    margin-top: 0.5em;
  }

  dd {
    margin-left: 1em;
  }
}
