@import 'base';

$axis-color: #999999;

$line-width: 2px;

svg {
  .svgBackground{
    fill: transparent;
  }
  .graphBackground{
    fill: transparent;
  }

  text {
    fill: $text-color;
    font: {
      family: $roboto;
      weight: normal;
    };
  }

  /* graphs titles */
  .mainTitle{
    text-anchor: middle;
    font-size: 16px;
  }

  .subTitle{
    text-anchor: middle;
    font-size: 14px;
  }

  .axis{
    stroke: $axis-color;
    stroke-width: 1px;
  }

  .guideLines{
    stroke: #666666;
    stroke-width: 1px;
    // stroke-dasharray: 5 5;
  }

  @mixin label-text {
    font-size: 85%;
  }

  .xAxisLabels{
    @include label-text;
    text-anchor: middle;
  }

  .yAxisLabels{
    @include label-text;
    text-anchor: end;
  }

  .xAxisTitle{
    text-anchor: middle;
    font-size: 14px;
  }

  .yAxisTitle{
    text-anchor: middle;
    font-size: 14px;
  }

  .dataPointLabel, .dataPointLabelBackground, .dataPointPopup{
    text-anchor:middle;
    font-size: 10px;
  }

  .dataPointLabelBackground {
    stroke: $background-color;
    stroke-width: 2;
  }

  .dataPointPopup{
    visibility: hidden;
    stroke-width: 2;
  }

  .staggerGuideLine{
    fill: none;
    stroke: #000000;
    stroke-width: 0.5px;
  }

  @for $i from 1 through 12 {
    .line#{$i} {
      fill: none;
      stroke: nth($series-colors, $i);
      stroke-width: $line-width;
    }

    .fill#{$i} {
      fill: nth($series-colors, $i);
      fill-opacity: 0.2;
      stroke: none;
    }

    .key#{$i}, .dataPoint#{$i} {
      fill: nth($series-colors, $i);
      stroke: none;
      stroke-width: 1px;
    }
  }

  .keyText{
    text-anchor:start;
    font-size: 10px;
  }
}
