---
http_interactions:
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ma/20200314.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"dfd19c468ccad9680de8ae509eb52478-ssl"'
      X-Nf-Request-Id:
      - 64180e8e-f1e6-4d91-93b9-93a4d3b0a5d6-23937854
    body:
      encoding: UTF-8
      string: '{"date":20200314,"state":"MA","positive":38,"negative":null,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"","lastUpdateEt":"3/14/2020
        16:00","dateModified":"2020-03-14T16:00:00Z","checkTimeEt":"03/14 12:00","death":null,"hospitalized":null,"dateChecked":"2020-03-14T16:00:00Z","totalTestsViral":null,"positiveTestsViral":null,"negativeTestsViral":null,"positiveCasesViral":null,"deathConfirmed":null,"deathProbable":null,"totalTestEncountersViral":null,"totalTestsPeopleViral":null,"totalTestsAntibody":null,"positiveTestsAntibody":null,"negativeTestsAntibody":null,"totalTestsPeopleAntibody":null,"positiveTestsPeopleAntibody":null,"negativeTestsPeopleAntibody":null,"totalTestsPeopleAntigen":null,"positiveTestsPeopleAntigen":null,"totalTestsAntigen":null,"positiveTestsAntigen":null,"fips":"25","positiveIncrease":15,"negativeIncrease":0,"total":38,"totalTestResultsSource":"posNeg","totalTestResults":38,"totalTestResultsIncrease":15,"posNeg":38,"deathIncrease":0,"hospitalizedIncrease":0,"hash":"24982f25206b315fffa7e987847154c0260c2db2","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sun, 12 Apr 2020 04:00:00 GMT
[...]
