---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ma/20200314.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58d-304"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:49 GMT
      X-Fastly-Request-Id:
      - 39384add5c6dfbb411a054f2691ba255b2e08068
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 7b5091e5-db0f-4634-a407-2a78a3d52c67-8819557
    body:
      encoding: UTF-8
      string: '{"date":20200314,"state":"MA","positive":38,"negative":null,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"","lastUpdateEt":"3/14/2020
        16:00","dateModified":"2020-03-14T16:00:00Z","checkTimeEt":"03/14 12:00","death":null,"hospitalized":null,"dateChecked":"2020-03-14T16:00:00Z","fips":"25","positiveIncrease":15,"negativeIncrease":0,"total":38,"totalTestResults":38,"totalTestResultsIncrease":15,"posNeg":38,"deathIncrease":0,"hospitalizedIncrease":0,"hash":"98a47bcdbd37699fd012a3da49198b227b11c73f","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Sun, 12 Apr 2020 04:00:00 GMT
[...]
