---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/MA/20200326.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"121bb915c3f2c91f7cd56417505c77ef-ssl"'
      X-Nf-Request-Id:
      - c04029a2-8ae8-4fe0-978c-986592cdc09f-16239220
    body:
      encoding: UTF-8
      string: '{"date":20200326,"state":"MA","positive":2318,"negative":21327,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":219,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"3/26/2020
        12:30","hash":"08d76813a076b49074eb6af95db1c792035ab0b6","dateChecked":"2020-03-26T20:00:00Z","death":42,"hospitalized":219,"total":23645,"totalTestResults":23645,"posNeg":23645,"fips":"25","deathIncrease":9,"hospitalizedIncrease":116,"negativeIncrease":3248,"positiveIncrease":579,"totalTestResultsIncrease":3827}'
  recorded_at: Sun, 12 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/MA/20200403.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"098fb5e5e6b1f317e6f3a9996ba47139-ssl"'
      X-Nf-Request-Id:
      - c04029a2-8ae8-4fe0-978c-986592cdc09f-16239912
    body:
      encoding: UTF-8
      string: '{"date":20200403,"state":"MA","positive":10303,"negative":52685,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":966,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"B","lastUpdateEt":"4/3/2020
        12:30","hash":"00f02e532d9b4e61f24a257d33891b5c3275589b","dateChecked":"2020-04-03T20:00:00Z","death":265,"hospitalized":966,"total":62988,"totalTestResults":62988,"posNeg":62988,"fips":"25","deathIncrease":36,"hospitalizedIncrease":153,"negativeIncrease":4918,"positiveIncrease":1436,"totalTestResultsIncrease":6354}'
  recorded_at: Sun, 12 Apr 2020 04:00:00 GMT
recorded_with: VCR 5.1.0
