---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200315&state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 590ee167-f416-496b-8658-e1cd38a630cb-15179138
    body:
      encoding: UTF-8
      string: '{"date":20200315,"state":"MA","positive":138,"negative":352,"hash":"c8c2486f9a55549e537cfa05abc2e5e2fe749397","dateChecked":"2020-03-15T20:00:00Z","total":490,"totalTestResults":490,"posNeg":490,"fips":"25","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":0,"totalTestResultsIncrease":0}'
  recorded_at: Sun, 15 Mar 2020 00:00:00 GMT
recorded_with: VCR 5.1.0
