---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200401&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - e5c2106e-78b8-449f-b40d-769068c423dc-7333966
    body:
      encoding: UTF-8
      string: '{"date":20200401,"state":"NY","positive":83712,"negative":137168,"pending":null,"hospitalizedCurrently":12226,"hospitalizedCumulative":18368,"inIcuCurrently":3022,"inIcuCumulative":3022,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":6142,"hash":"bc022c8f01dbc1a4d1f046ebce21c18a7b42cfa6","dateChecked":"2020-04-01T20:00:00Z","death":1941,"hospitalized":18368,"total":220880,"totalTestResults":220880,"posNeg":220880,"fips":"36","deathIncrease":391,"hospitalizedIncrease":2464,"negativeIncrease":7777,"positiveIncrease":7917,"totalTestResultsIncrease":15694}'
  recorded_at: Wed, 01 Apr 2020 00:00:00 GMT
recorded_with: VCR 5.1.0
