---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ny/20200312.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58d-304"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:49 GMT
      X-Fastly-Request-Id:
      - d5ed2c78657f011659390a984c428e5e300e8906
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - 4c117934-1a37-4503-9f29-c62270a920de-1518538
    body:
      encoding: UTF-8
      string: '{"date":20200312,"state":"NY","positive":216,"negative":92,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"","lastUpdateEt":"3/11/2020
        16:00","dateModified":"2020-03-11T16:00:00Z","checkTimeEt":"03/11 12:00","death":null,"hospitalized":null,"dateChecked":"2020-03-11T16:00:00Z","fips":"36","positiveIncrease":0,"negativeIncrease":0,"total":308,"totalTestResults":308,"totalTestResultsIncrease":0,"posNeg":308,"deathIncrease":0,"hospitalizedIncrease":0,"hash":"9470d1636b7a4a2fdfc0fa2665356f0f5d5135b2","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/ny/20200311.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5edba58d-2ce"
      Last-Modified:
      - Sat, 06 Jun 2020 14:17:49 GMT
      X-Fastly-Request-Id:
      - d5cbde6a8d922da0a2de9e1b34860293ac3f0bad
      X-Origin-Cache:
      - HIT
      X-Proxy-Cache:
      - MISS
      X-Nf-Request-Id:
      - e27370ee-c9c0-41c1-bdfd-d5c74f5ae1db-11843653
    body:
      encoding: UTF-8
      string: '{"date":20200311,"state":"NY","positive":216,"negative":92,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":null,"lastUpdateEt":null,"dateModified":null,"checkTimeEt":null,"death":null,"hospitalized":null,"dateChecked":null,"fips":"36","positiveIncrease":43,"negativeIncrease":0,"total":308,"totalTestResults":308,"totalTestResultsIncrease":43,"posNeg":308,"deathIncrease":0,"hospitalizedIncrease":0,"hash":"7245ac56fa2d07d0098f9e27faa6a41e0d69c1c7","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
recorded_with: VCR 5.1.0
