---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200304&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 449592fd-7b77-4ec3-a098-9ae7a25d6bd5-13195232
    body:
      encoding: UTF-8
      string: '{"date":20200304,"state":"NY","positive":6,"negative":48,"pending":24,"hash":"0e095e2b3db515b00d892276e6cac6912b1e0111","dateChecked":"2020-03-04T21:00:00Z","total":78,"totalTestResults":54,"posNeg":54,"fips":"36","deathIncrease":null,"hospitalizedIncrease":null,"negativeIncrease":null,"positiveIncrease":null,"totalTestResultsIncrease":null}'
  recorded_at: Thu, 02 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200315&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 449592fd-7b77-4ec3-a098-9ae7a25d6bd5-13198007
    body:
      encoding: UTF-8
      string: '{"date":20200315,"state":"NY","positive":729,"negative":4543,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"963f632b5d1577cd5cf9b6c332a912c2fdebea16","dateChecked":"2020-03-15T20:00:00Z","death":3,"hospitalized":null,"total":5272,"totalTestResults":5272,"posNeg":5272,"fips":"36","deathIncrease":3,"hospitalizedIncrease":0,"negativeIncrease":1764,"positiveIncrease":205,"totalTestResultsIncrease":1969}'
  recorded_at: Thu, 02 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200402&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 449592fd-7b77-4ec3-a098-9ae7a25d6bd5-13203421
    body:
      encoding: UTF-8
      string: '{"date":20200402,"state":"NY","positive":92381,"negative":146584,"pending":null,"hospitalizedCurrently":13383,"hospitalizedCumulative":20817,"inIcuCurrently":3396,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":7434,"hash":"764d0566c27be04c416c502640d5fffbcb8cad26","dateChecked":"2020-04-02T20:00:00Z","death":2373,"hospitalized":20817,"total":238965,"totalTestResults":238965,"posNeg":238965,"fips":"36","deathIncrease":432,"hospitalizedIncrease":2449,"negativeIncrease":9416,"positiveIncrease":8669,"totalTestResultsIncrease":18085}'
  recorded_at: Thu, 02 Apr 2020 00:00:00 GMT
recorded_with: VCR 5.1.0
