---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200309&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9f93dab553fcce0cb8375b947919acf0-ssl"'
      X-Nf-Request-Id:
      - c04029a2-8ae8-4fe0-978c-986592cdc09f-14290510
    body:
      encoding: UTF-8
      string: '{"date":20200309,"state":"NY","positive":142,"negative":92,"hash":"cb36363f3eca57c7bfddd3d8ea4234ed33dda5f9","dateChecked":"2020-03-09T20:00:00Z","total":234,"totalTestResults":234,"posNeg":234,"fips":"36","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":0,"positiveIncrease":37,"totalTestResultsIncrease":37}'
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200305&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5f7170d145fc3e1886a35304d0173eb4-ssl"'
      X-Nf-Request-Id:
      - c04029a2-8ae8-4fe0-978c-986592cdc09f-14290511
    body:
      encoding: UTF-8
      string: '{"date":20200305,"state":"NY","positive":22,"negative":76,"pending":24,"hash":"f5fa9d458bf8fb40664458e2710437c5e5a89aaf","dateChecked":"2020-03-05T21:00:00Z","total":122,"totalTestResults":98,"posNeg":98,"fips":"36","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":28,"positiveIncrease":16,"totalTestResultsIncrease":44}'
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200313&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a3c6dc712a4fab64ca3b928ae482ecd9-ssl"'
      X-Nf-Request-Id:
      - c04029a2-8ae8-4fe0-978c-986592cdc09f-14290518
    body:
      encoding: UTF-8
      string: '{"date":20200313,"state":"NY","positive":421,"negative":2779,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":null,"lastUpdateEt":"3/12/2020
        16:00","hash":"6195659df336b89493178ff9cee571d77f6a5c4e","dateChecked":"2020-03-13T20:00:00Z","death":null,"hospitalized":null,"total":3200,"totalTestResults":3200,"posNeg":3200,"fips":"36","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":2687,"positiveIncrease":205,"totalTestResultsIncrease":2892}'
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200328&state=NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"74feb0635f8f6b869ecb7ddcb70816bf-ssl"'
      X-Nf-Request-Id:
      - c04029a2-8ae8-4fe0-978c-986592cdc09f-14290544
    body:
      encoding: UTF-8
      string: '{"date":20200328,"state":"NY","positive":52318,"negative":103616,"pending":null,"hospitalizedCurrently":7328,"hospitalizedCumulative":10054,"inIcuCurrently":1755,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":2726,"dataQualityGrade":"A","lastUpdateEt":"3/28/2020
        13:15","hash":"bff2cfbfc7d59b136600e875ae44039201658e70","dateChecked":"2020-03-28T20:00:00Z","death":728,"hospitalized":10054,"total":155934,"totalTestResults":155934,"posNeg":155934,"fips":"36","deathIncrease":209,"hospitalizedIncrease":1528,"negativeIncrease":2498,"positiveIncrease":7683,"totalTestResultsIncrease":10181}'
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
recorded_with: VCR 5.1.0
