---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/NY/20200306.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"c0ea2d519e22119b82b9619bd99a5774-ssl"'
      X-Nf-Request-Id:
      - '0299c823-9b14-44d9-9eca-31e8d496c6cd-137010'
    body:
      encoding: UTF-8
      string: '{"date":20200306,"state":"NY","positive":33,"negative":92,"pending":236,"hash":"a4269189c0f37537baee7e4fd80167aa7237fa7e","dateChecked":"2020-03-06T21:00:00Z","total":361,"totalTestResults":125,"posNeg":125,"fips":"36","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":16,"positiveIncrease":11,"totalTestResultsIncrease":27}'
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/NY/20200313.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"091035a1c9a1c126d4289be8416daa08-ssl"'
      X-Nf-Request-Id:
      - '0299c823-9b14-44d9-9eca-31e8d496c6cd-137015'
    body:
      encoding: UTF-8
      string: '{"date":20200313,"state":"NY","positive":421,"negative":2779,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":null,"lastUpdateEt":"3/12/2020
        16:00","hash":"6195659df336b89493178ff9cee571d77f6a5c4e","dateChecked":"2020-03-13T20:00:00Z","death":null,"hospitalized":null,"total":3200,"totalTestResults":3200,"posNeg":3200,"fips":"36","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":2687,"positiveIncrease":205,"totalTestResultsIncrease":2892}'
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/v1/states/NY/20200318.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"abf9a9e35013acf98cc4bc3edf26c8cc-ssl"'
      X-Nf-Request-Id:
      - '0299c823-9b14-44d9-9eca-31e8d496c6cd-137025'
    body:
      encoding: UTF-8
      string: '{"date":20200318,"state":"NY","positive":2382,"negative":12215,"pending":null,"hospitalizedCurrently":416,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":null,"lastUpdateEt":"3/18/2020
        15:05","hash":"2387f137d1dfbfcce5392a336b9d7133e1886e73","dateChecked":"2020-03-18T20:00:00Z","death":12,"hospitalized":null,"total":14597,"totalTestResults":14597,"posNeg":14597,"fips":"36","deathIncrease":5,"hospitalizedIncrease":0,"negativeIncrease":6709,"positiveIncrease":682,"totalTestResultsIncrease":7391}'
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
recorded_with: VCR 5.1.0
