---
http_interactions:
- request:
    method: get
    uri: https://api.covidtracking.com/v1/states/ny/20200312.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"aebe9d64bab56292efc27aae22c731b0-ssl"'
      X-Nf-Request-Id:
      - c286f5e1-deaa-4aca-8ac1-c007ad7e9911-22836465
    body:
      encoding: UTF-8
      string: '{"date":20200312,"state":"NY","positive":216,"negative":92,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"dataQualityGrade":"","lastUpdateEt":"3/11/2020
        16:00","dateModified":"2020-03-11T16:00:00Z","checkTimeEt":"03/11 12:00","death":null,"hospitalized":null,"dateChecked":"2020-03-11T16:00:00Z","totalTestsViral":null,"positiveTestsViral":null,"negativeTestsViral":null,"positiveCasesViral":null,"deathConfirmed":null,"deathProbable":null,"totalTestEncountersViral":null,"totalTestsPeopleViral":null,"totalTestsAntibody":null,"positiveTestsAntibody":null,"negativeTestsAntibody":null,"totalTestsPeopleAntibody":null,"positiveTestsPeopleAntibody":null,"negativeTestsPeopleAntibody":null,"totalTestsPeopleAntigen":null,"positiveTestsPeopleAntigen":null,"totalTestsAntigen":null,"positiveTestsAntigen":null,"fips":"36","positiveIncrease":0,"negativeIncrease":0,"total":308,"totalTestResultsSource":"posNeg","totalTestResults":308,"totalTestResultsIncrease":0,"posNeg":308,"deathIncrease":0,"hospitalizedIncrease":0,"hash":"e29fb2cb689dcea80d3fbd88d34dfc62b18ad473","commercialScore":0,"negativeRegularScore":0,"negativeScore":0,"positiveScore":0,"score":0,"grade":""}

        '
  recorded_at: Thu, 02 Apr 2020 04:00:00 GMT
[...]
