---
http_interactions:
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200304&state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - f1fb77d7-a6b7-46d2-b3a3-f047f6efb47c-15558599
    body:
      encoding: UTF-8
      string: '{"date":20200304,"state":"MA","positive":2,"hash":"36d8d4b1b34007477b562a078613309f63e7bd0e","dateChecked":"2020-03-04T21:00:00Z","total":2,"totalTestResults":2,"posNeg":2,"fips":"25","deathIncrease":null,"hospitalizedIncrease":null,"negativeIncrease":null,"positiveIncrease":null,"totalTestResultsIncrease":null}'
  recorded_at: Thu, 02 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200313&state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 9fa524d8-681d-4d50-9faf-f8d8a27395cc-7110008
    body:
      encoding: UTF-8
      string: '{"date":20200313,"state":"MA","positive":123,"negative":92,"hash":"020263557685d33ade8e1849eeb35c2a8a12843a","dateChecked":"2020-03-13T20:00:00Z","total":215,"totalTestResults":215,"posNeg":215,"fips":"25","deathIncrease":0,"hospitalizedIncrease":0,"negativeIncrease":92,"positiveIncrease":28,"totalTestResultsIncrease":120}'
  recorded_at: Thu, 02 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200320&state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 449592fd-7b77-4ec3-a098-9ae7a25d6bd5-13147994
    body:
      encoding: UTF-8
      string: '{"date":20200320,"state":"MA","positive":413,"negative":3678,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":null,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"e4fa70dd5807dff8381750edb438c3d8fb03335d","dateChecked":"2020-03-20T20:00:00Z","death":1,"hospitalized":null,"total":4091,"totalTestResults":4091,"posNeg":4091,"fips":"25","deathIncrease":1,"hospitalizedIncrease":0,"negativeIncrease":874,"positiveIncrease":85,"totalTestResultsIncrease":959}'
  recorded_at: Thu, 02 Apr 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://covidtracking.com/api/states/daily?date=20200402&state=MA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Nf-Request-Id:
      - 9fa524d8-681d-4d50-9faf-f8d8a27395cc-7115872
    body:
      encoding: UTF-8
      string: '{"date":20200402,"state":"MA","positive":8966,"negative":47642,"pending":null,"hospitalizedCurrently":null,"hospitalizedCumulative":813,"inIcuCurrently":null,"inIcuCumulative":null,"onVentilatorCurrently":null,"onVentilatorCumulative":null,"recovered":null,"hash":"79d0614d1b714ae75a41b332ec20fb5cbecebab8","dateChecked":"2020-04-02T20:00:00Z","death":154,"hospitalized":813,"total":56608,"totalTestResults":56608,"posNeg":56608,"fips":"25","deathIncrease":32,"hospitalizedIncrease":131,"negativeIncrease":3642,"positiveIncrease":1228,"totalTestResultsIncrease":4870}'
  recorded_at: Thu, 02 Apr 2020 00:00:00 GMT
recorded_with: VCR 5.1.0
